# Python мусор
__pycache__/
*.py[cod]
*$py.class

# Виртуальное окружение (его не заливают, оно тяжелое)
.venv/
env/
venv/

# Настройки PyCharm (это твои личные настройки)
.idea/

# СЕКРЕТНЫЕ ДАННЫЕ (Самое важное!)
wallets_encrypted/
wallets_decrypted/
*.enc
*.csv

# Локальные файлы билдов (если будут)
build/
dist/
*.spec